{% extends "main/base.html" %}
{%block content%}
<div class="container">
    {% for post in posts %}
    <div class="card m-3 p-3">
        <div class="card-body">
            <p>{{post.masterpost.username}}</p>
            <p><a href=" {% url 'post-detail' post.id %} ">{{post.title}}</a></p>
            <img src="{{post.image.url}}" class="img-fluid" />
            <p>{{post.message}}</p>
            <p>{{post.post_date}}</p>
            <p><a href="{% url 'post-comment' post.id %}">Comment on post</a></p>
            {% for comment in post.comments_set.all %}
            <p>{{comment.user.username}}</p>
            <br>
            <p>{{comment.comment}}</p>
            <br />
            {%endfor%}
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}